include .flake8
include pyproject.toml
include *.md
include *.txt
include LICENSE
include mypy.ini
include tox.ini
recursive-include docs *.py *.rst Makefile
recursive-include pgtoolkit *.py
recursive-include tests *.py *.sh
recursive-include tests/data *.conf *.includeme *.log pgpass*

exclude .editorconfig
exclude .readthedocs.yaml
exclude Makefile
exclude requirements/dev.txt
prune .circleci
prune rpm
prune debian
prune scripts
