include *.md
include *.txt
include LICENSE
recursive-include docs *.py *.rst Makefile
recursive-include pgtoolkit *.py
recursive-include tests *.py *.sh
recursive-include tests/data *.conf *.includeme *.log pgpass*

exclude .editorconfig
exclude Makefile
prune .circleci
prune rpm
prune debian
prune scripts
