name: Debian package

on: [push, pull_request]

jobs:
  deb:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Build dependencies
        run: |
          sudo apt-get update -qq
          sudo apt-get install -qq devscripts equivs
          sudo apt-get -qq build-dep .
      - name: Make .orig.tar.gz
        run: |
          python3 setup.py sdist
          version=$(python3 setup.py --version)
          mk-origtargz dist/pgtoolkit-$version.tar.gz
      - name: Build package
        run: dpkg-buildpackage
      - name: Check
        run: debc
