name: RPM packages

on:
  push:
  pull_request:
    branches: [ $default-branch ]

jobs:
  rpm-centos7:
    runs-on: ubuntu-latest
    container: dalibo/labs-sdk:centos7
    steps:
      - uses: actions/checkout@v2
      - name: Build package
        run: rpm/build

  rpm-centos8:
    runs-on: ubuntu-latest
    container: dalibo/labs-sdk:centos8
    steps:
      - uses: actions/checkout@v2
      - name: Build package
        run: rpm/build
